<div class="row">
    <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>education</h1>
    </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    I have a formal education from the University of Wisconsin-Platteville, but I also like to keep up with the latest trends.
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">formal education</p>
        <p class="subtext">those textbook prices</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box size="6" index="MS" header="Masters of Science, Computer Science" text="University of Wisconsin-Platteville<br>Graduated December 2014"></app-small-box>
            <app-small-box size="6" index="BS" header="Batchelors of Science, Computer Science" text="University of Wisconsin-Platteville<br>Graduated December 2009"></app-small-box>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">conferences</p>
        <p class="subtext">with rooms full of introverts!</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box size="6" index="01" header="VSLive 2017" 
                text="I attended Visual Studio Live on 8/13/2017 and attended many events mostly focusing on front-end technologies. I also got to meet Scott Hanselman. No big deal."></app-small-box>
            <app-small-box size="6" index="02" header="HDC 2016" 
                text="I attended the Heartland Developer Conference in Omaha in 2016. Mostly focused on front-end technologies, and most of the presentations were hands-on-workshops. This is where I really go my feet wet with Angular."></app-small-box>
        </div>
    </div>
</div>