<div class="row">
  <h1>hi - i'm <span class="highlight">brandon</span>.</h1>
  <p>i write code and wear santa hats and stuff.</p>
</div>
<br />
<div class="row">
  <h3>some latest things about my work</h3>
</div>
<div class="row">
  <app-interest text="current work" icon="fa-code" link="/current-work"></app-interest>
  <app-interest text="home automation" icon="fa-home" link="/home-automation"></app-interest>
  <app-interest text="education" icon="fa-graduation-cap" link="/education"></app-interest>
  <app-interest text="writings" icon="fa-book" link="/writings"></app-interest>
</div>
<div class="row">
  <h3>some things about me</h3>
</div>
<div class="row">
  
</div>