<div class="row">
  <h1>hi - i'm <span class="highlight">brandon</span>.</h1>
  <p>i write code and wear santa hats and stuff.</p>
</div>
<br />
<div class="row">
  <h3>some new stuff</h3>
</div>
<div class="row">
  <app-small-box size="6" icon="fa-code" link="/current-work" header="Current Work" text="some details about my current job as a senior engineer and team lead."></app-small-box>
  <app-small-box size="6" icon="fa-code-fork" link="/side-projects" header="Side Projects" text="some of my latest side projects because code is love. code is life."></app-small-box>
  <app-small-box size="6" icon="fa-graduation-cap" link="/education" header="Education" text="how i keep up with the latest fashions."></app-small-box>
  <app-small-box size="6" icon="fa-book" link="/writings" header="Writings" text="sometimes you just got to get things out."></app-small-box>
</div>
<div class="row">
  <h3>some things about me</h3>
</div>
<div class="row">
  
</div>