<div class="row">
  <div class="col-xs-12">
    <h1>hi - i'm <span class="highlight">brandon</span>.</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>i write code and wear santa hats. i am a software developer and moderate technology evangelist with 10 years of experience.</p>
  </div>
</div>
<div class="row">
  <app-small-header-box header="Location" text="Portage, WI"></app-small-header-box>
  <app-small-header-box header="Web" text="bresheske.github.io"></app-small-header-box>
  <app-small-header-box header="Email" text="bresheske@gmail.com"></app-small-header-box>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <h3>some things you can click on</h3>
  </div>
</div>
<div class="row">
  <app-small-box size="6" icon="fa-code" link="/current-work" header="Current Work" text="some details about my current job as a senior engineer and team lead."></app-small-box>
  <app-small-box size="6" icon="fa-code-fork" link="/side-projects" header="Side Projects" text="some of my latest side projects because code is love. code is life."></app-small-box>
  <app-small-box size="6" icon="fa-graduation-cap" link="/education" header="Education" text="how i keep up with the latest fashions."></app-small-box>
  <app-small-box size="6" icon="fa-book" link="/writings" header="Writings" text="sometimes you just got to get things out."></app-small-box>
</div>
