.text {
    font-size: 14px;
}

.smallbox.link {
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
}

.smallbox.link:hover {
    background-color: #444;
}

p.icon {
    text-align: center;
}