<div class="col-sm-{{size}} smallbox {{ link?'link':'' }}" (click)="click()">
  <div class="row">
    <div class="col-xs-2">
      <p *ngIf="index" class="highlight index">{{index}}</p>
      <p *ngIf="icon" class="highlight icon">
        <i *ngIf="!iconlink" class="fa {{icon}} fa-2x"></i>
        <a *ngIf="iconlink" href="{{iconlink}}" target="{{target}}"><i class="fa {{icon}} fa-2x"></i></a>
      </p>
    </div>
    <div class="col-xs-10">
      <p class="header">{{header}}</p>
      <p class="text">{{text}}</p>
    </div>
  </div>
</div>
