<div class="not-container">
  <div class="row blue-grey darken-3">
    <div class="col m10 offset-m1 s12">
      <div class="row valign-wrapper">
        <div class="col m3 s12">
          <img src="assets/me.png" alt="" class="circle responsive-img hide-on-print">
        </div>
        <div class="col m9 s12">
          <h4>hi, i'm <span class="yellow-text lighten-2">brandon</span>.</h4>
          <span class="hide-on-print">
            I am a developer, technology junkie, father, connoisseur of fine beer, and gamer.
          </span>
          <div class="row">
            <div class="col s12">
              <span>
                <blockquote>
                  <span>bresheske.github.io</span>
                </blockquote>
                <blockquote>
                  <span>bresheske@gmail.com</span>
                </blockquote>
                <blockquote>
                  <span>Portage, WI</span>
                </blockquote>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">PROFILE</strong>
        </div>
        <div class="col m9 s12">
          <ul>
            <li><strong>12 years industry experience</strong>, including 6 years of leadership experience</li>
            <li><strong>Self-motivated, technology driven</strong>, and always updating my workflow for continuous
              improvement</li>
            <li><strong>Works well in teams of all sizes</strong>, with experience working independently</li>
            <li><strong>Experience in multiple development environments</strong>, including waterfall, iterative, and
              agile methodologies</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row blue-grey darken-3">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">EDUCATION</strong>
        </div>
        <div class="col m9 s12">
          <div class="row education">
            <div class="col m6 s12">
              <p><strong>Master of Science, Computer Science</strong></p>
              <p>University of Wisconsin-Platteville</p>
              <p>Graduated May 2015</p>
            </div>

            <div class="col m6 s12">
              <p><strong>Bachelor of Science, Computer Science</strong></p>
              <p>University of Wisconsin-Platteville</p>
              <p>Graduated December 2009</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">TECHNICAL SKILLS</strong>
        </div>
        <div class="col m9 s12">
          <ul>
            <li><strong>Languages: </strong>C#, JavaScript, TypeScript, HTML(5), CSS(3), SQL</li>
            <li><strong>Frameworks: </strong>Serverless &amp; AWS, NodeJS, WebPack, Angular CLI, .NET Framework/Core,
              ASP.Net, MVC</li>
            <li><strong>Software: </strong>GIT, Visual Studio, VSCode, SQL Server Management Studio</li>
            <li><strong>Databases: </strong>MSSQL, MySQL, MongoDB</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row blue-grey darken-3">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">EXPERIENCE</strong>
        </div>
        <div class="col m9 s12">
          <div class="job">
            <strong class="yellow-text lighten-2">Total Administrative Services Corporation</strong>
            <strong class="grey-text lighten-1"> August 2018 - Present</strong>
            <br>
            <strong><i>Lead CI/CD Development Engineer & Quality Assurance Architect</i></strong>
            <p>
              At Total Administrative Services Corporation, I am in charge of architecting solutions to ensure a large
              serverless-based application is deployed quickly, easiely, and with a high degree of confidence in quality.

              Additionally, in this position of leadership, I am also responsible for ensuring our QA professionals and
              development engineers are aligned with the current standards as well as communicating out all changes to
              the technical team leads and senior developers.
            </p>
            <p>
              I was also employed as a Senior Software Engineer before accepting the promotion to Lead CI/CD Development Engineer.
            </p>
            <strong>Technologies Used: </strong><span>AWS, Serverless, HTML, CSS, JavaScript, TypeScript, WebPack,
              Angular 5+, SQL</span>
          </div>
          <hr>
          <div class="job">
            <strong class="yellow-text lighten-2">Deluxe Corporation</strong>
            <strong class="grey-text lighten-1"> July 2014 - August 2018</strong>
            <br>
            <strong><i>Senior Software Engineer of Financial Services</i></strong>
            <p>
              As a senior engineer and team lead, I was responsible for leading a small team of developers and QA
              members in
              an agile environment. After transitioning from waterfall, we utilized scrum with standups, grooming,
              pointing, and planning sessions
              to create realistic and attainable milestones. In addition to my leadership responsibilities, I also
              created for and
              maintained a large multi-server application built for the financial sector.
            </p>
            <strong>Technologies Used: </strong><span>HTML, CSS, JavaScript, TypeScript, Angular 2+, C#, MVC, WebAPI,
              WCF, SQL</span>
          </div>
          <hr>
          <div class="job">
            <strong class="yellow-text lighten-2">Beacon Technologies, Inc</strong>
            <strong class="grey-text lighten-1"> January 2014 - July 2014</strong>
            <br>
            <strong><i>Senior Software Engineer and Team Lead</i></strong>
            <p>
              At Beacon Technologies, I worked as a contractor to Deluxe on the project I would later become employed
              under. I worked in a small
              building in Madison, WI with a group of enthusiastic developers to deliver a large amount of features in
              a short time.
            </p>
            <strong>Technologies Used: </strong><span>HTML, CSS, JavaScript, C#, MVC, WebAPI, WCF, SQL</span>
          </div>
          <hr>
          <div class="job">
            <strong class="yellow-text lighten-2">University of Wisconsin-Platteville</strong>
            <strong class="grey-text lighten-1"> January 2013 - July 2014</strong>
            <br>
            <strong><i>Assistantship of Computer Science &amp; Software Engineering</i></strong>
            <p>
              While working toward my master's degree, I was employed under my educational department as a professor's
              assistant.
              My responsibilities included developing and maintaining in-house software, grading papers and code, and
              mentoring undergraduate
              students.
            </p>
            <strong>Technologies Used: </strong><span>HTML, CSS, JavaScript, C#, Ruby</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">VOLUNTEER WORK</strong>
        </div>
        <div class="col m9 s12">
          <div class="job">
            <strong class="yellow-text lighten-2">Portage Community School District</strong>
            <br>
            <strong><i>Parent Volunteer</i></strong>
            <p>
              From time to time, I spend a day working with kids, or helping out with anything teachers or
              administrative staff might need.
            </p>
            <strong>Technologies Used: </strong><span><em>Super Parenting Power!</em></span>
          </div>
          <hr>
          <div class="job">
            <strong class="yellow-text lighten-2">Wisconsin Title 1 Association</strong>
            <br>
            <strong><i>Software Engineering &amp; Web Designing</i></strong>
            <p>
              The Wisconsin Title 1 Association is an organization dedicated to elevating underprivileged youth.
            </p>
            <strong>Technologies Used: </strong><span>HTML, CSS, JavaScript, TypeScript, Angular 4 (cli)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row blue-grey darken-3 hide-on-print">
    <div class="col s10 offset-s1">
      <div class="row">
        <div class="col m3 s12">
          <strong class="yellow-text lighten-2">RESEARCH &amp; SIDE-PROJECTS</strong>
        </div>
        <div class="col m9 s12">
          <em>All of my public projects are available on my <strong class="yellow-text lighten-2">
            <a href="https://github.com/bresheske" target="_blank">github profile</a>.</strong>
          </em>
          <ul *ngIf="github" id="github-list">
            <li *ngFor="let repo of github">
              <strong class="yellow-text lighten-2"><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }} - </a></strong>
              {{ repo.description }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>