.row {
    margin-bottom: 0;
}

@media screen { 
    .not-container > .row:nth-child(1) {
        padding-top: 60px;
        padding-bottom: 40px;
    }    
}

.not-container >.row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.not-container >.row:last-child {
    margin-bottom: 0;
}

hr {
    border-color: #bdbdbd;
}

ul {
    margin: 0;
}

li {
    list-style-type: disc !important;
    line-height: 1.8em;
    list-style-position: inside;
}

.education p {
    line-height: 1.4em;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
}

@media print {
    .education .col {
        margin-bottom: 10px;
    }
}

.job:nth-child(1) {
    margin-top: 0;
}

.job {
    margin-top: 15px;
}

img {
    width: 100%;
    max-width: 130px;
}

.margin-left {
    margin-left: 5px;
}

a {
    color: inherit;
}

.print-view-header .right {
    margin-right: 80px;
}

.print-view-header p > span {
    margin-left: 20px;
}