<div class="container">
  <div class="row">
    <h1>hi - i'm brandon.</h1>
    <p>i write code and wear santa hats and stuff.</p>
  </div>
  <br />
  <div class="row">
    <h3>some of my current work</h3>
  </div>
  <div class="row">
    <app-interest text="current work" icon="fa-code"></app-interest>
    <app-interest text="home automation" icon="fa-home"></app-interest>
    <app-interest text="education" icon="fa-graduation-cap"></app-interest>
    <app-interest text="writings" icon="fa-book"></app-interest>
  </div>
</div>