<div class="row">
    <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>angular route animations made easy</h1>
        <p><strong>August 16th, 2017</strong></p>
    </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p>
      So I found a super-simple method of getting animations working in angular. <span class="highlight">Fair warning: </span> this is not a very elegant solution, 
      but I don't feel like it's breaking any rules or anything.
    </p>
    <h3>1. Check out routing animations, the right way</h3>
    <p>Google it. After following some tutorials, I personally found the solutions pretty complicated and full of non-standard code.</p>
    <h3>2. Add ScrollRevealJS</h3>
    <p><a href="https://www.npmjs.com/package/scrollreveal" target="_blank">ScrollRevealJS link</a>.</p>
    <p>Type this code into your command line environment:</p>
    <pre>npm install --save scrollreveal</pre>
    <p>Now you need to add it to your <span class="highlight">.angular-cli.json</span> file. It should look something like this:</p>
    <pre>"scripts": [
        "../node_modules/scrollreveal/dist/scrollreveal.js"
      ],</pre>
    <h3>3. Use it!</h3>
    <p>First we need to initialize the Reveal variable in some root location. Do that here:</p>
     <pre [innerHtml]="'import { Component } from \'@angular/core\';
<span class=\'highlight\'>declare var ScrollReveal;</span>
@Component({
  selector: \'app-root\',
  templateUrl: \'./app.component.html\',
  styleUrls: [\'./app.component.css\']
})
export class AppComponent {
  
  constructor() {
    <span class=\'highlight\'>window[\'Reveal\'] = ScrollReveal({ duration: 600 });</span>
  }

  ngOnInit() {
    
  }
}'"></pre>
    <p>Now just add the reveal code to your component on ngOnInit, so the animation shows when the router initializes the component. Here's a very simple component for example:</p>
    <pre [innerHtml]="'import { Component, OnInit } from \'@angular/core\';
<span class=\'highlight\'>declare var Reveal;</span>

@Component({
  selector: \'app-main\',
  templateUrl: \'./main.component.html\',
  styleUrls: [\'./main.component.css\']
})
export class MainComponent {
  constructor() {

  }

  ngAfterViewInit() {
    <span class=\'highlight\'>Reveal.reveal(\'div.row\', 20);</span>
  }

} '"></pre>
    <p>This also gives each child component the ability to control their own animations and durations, depending on the content.</p>
    <p>That is all.</p>
  </div>
</div>