<div class="row">
  <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>
<div class="row">
  <div class="col-xs-12">
      <h1>angular routing with github pages</h1>
      <p><strong>August 23rd, 2017</strong></p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p>
      So by default, github doesn't allow any additional routing or URL rewriting. It will allow you to enter into new routes and the URL will follow, but 
      it won't know what to do if you attempt to GET a sub route (for example, you refresh the page).  Github will return a 404. 
    </p>
    <h3>but! github allows custom 404 pages!</h3>
    <p>
      A very quick and dirty solution is to simply copy and paste your index.html file into 404.html. This way your application will load up 
      normally and will take the subroute into account.
    </p>
    <h3>check out this website</h3>
    <ul>
      <li>Press F12 and open up your console.</li>
      <li>Press F5 to refresh your browser.</li>
    </ul>
    <p>
      Notice you'll see github actually returns a 404 error when a subroute is requested, but the 404 page served is our main application. 
      It's a bit hacky, but all is well with the world.
    </p>
    <p>Here is a link to the <a href="https://github.com/bresheske/bresheske.github.io" target="_blank">github page hosting this website</a>. </p>
    <p>Here is a link to the <a href="https://github.com/bresheske/me/blob/master/build.ps1" target="_blank">powershell file I use to build this website and push out changes</a>. It includes a one-line script to copy the index.html to 404.html.</p>
    <h3>one caveat</h3>
    <p>This only works if your URL resolves to a 404 error. So, if files or folders match your route names, github will serve up those first.</p>
    <p>That's it!</p>
    <br>
  </div>
</div>