<div class="row">
    <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>side projects</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    After creating this page, I realized I should probably have less side projects. To be fair, most are pretty old.
  </div>
</div>
<br />
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">web projects</p>
        <p class="subtext">i am not an art major</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/me" 
              target="_blank" 
              header="This Website" 
              text="This site is written in @angular/cli and is available on github. The animations are preformed by ScrollRevealJs.">
            </app-small-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">home automation</p>
        <p class="subtext">$120 lightswitches are totally worth it</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/nodejs-gpio-ui" 
              target="_blank" 
              header="GPIO UI" 
              text="This is a small project written in angular that displays and controls statuses of switches running GPIO-API. 
                I have this project running on a touchscreen which controls some of the lightswitches in my home.">
            </app-small-box>
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/nodejs-gpio-api" 
              target="_blank" 
              header="GPIO API" 
              text="This is a small project written in NodeJS. 
                This project provides the GPIO data from a raspberry pi to GPIO UI.">
            </app-small-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">libraries</p>
        <p class="subtext">coders need code</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/modelformatting" 
              target="_blank" 
              header="Model Formatting" 
              text="Prior to the days of C# 6.0 string interpolation, this project converted objects to strings in a much more intuitive way than a call to string.Format().
                It has support for string interpolation, property formatting, data annotations, dependency injection, multi-cultures, and bootstrapping for efficiency. It
                was also written using test-driven development and has very high code coverage statistics. This package is available in Nuget.">
            </app-small-box>
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/irepository" 
              target="_blank" 
              header="IRepository" 
              text="The repository pattern came and went pretty quickly, but this is just another interface around that. I now feel the pattern adds unneeded complexity and decided to deprecated the project. It's available on Nuget.">
            </app-small-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">education</p>
        <p class="subtext">a learning brain is a happy brain</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/eyetracking" 
              target="_blank" 
              header="Eye Tracking" 
              text="This was my major portfolio piece while completing my master's thesis. This project (or tool really) provides a way for researchers to test of different implementations of computer vision.">
            </app-small-box>
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/programmable-robot" 
              target="_blank" 
              header="Programmable Robot" 
              text="A small WinForms project focused on helping kids learn to code. It provides a very simple GUI and interface around telling a little robot what to do - including MoveUp, RotateLeft, PickUp, (etc) commands.">
            </app-small-box>
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/openmario" 
              target="_blank" 
              header="OpenMario" 
              text="Just an expirement in game programming in winforms and C#. No other libraries are used, and the user can jump around and move a bit. It's very immature.">
            </app-small-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">tools</p>
        <p class="subtext">reinventing the wheel 101</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/wingrep" 
              target="_blank" 
              header="WinGrep" 
              text="A small regex tool very similar to grep in linux. However, I almost exclusively use findstr now.">
            </app-small-box>
            <app-small-box 
              icon="fa-github" 
              size="6"
              iconlink="https://github.com/bresheske/start.bat" 
              target="_blank" 
              header="Start.bat" 
              text="A very small batch file that a developer can create a shortcut on to customize a command-line environment.
                This tool defines common macros that one can use often.">
            </app-small-box>
        </div>
        <div class="row">
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/snippur" 
            target="_blank" 
            header="Snippur" 
            text="A nifty replacement to snipping tool that auto-uploads to imgur. Gained a bit of traction on reddit.">
          </app-small-box>
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/memtool" 
            target="_blank" 
            header="Memtool" 
            text="A little console tool that provides an interface around memory reading, searching, and editing of executing processes.
              Written as an expirement, but somewhat interesting to use.">
          </app-small-box>
        </div>
        <div class="row">
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/pandora-console" 
            target="_blank" 
            header="Pandora Console" 
            text="A little pandora CLI tool allowing one to view all of the thumbs-up songs in a station. It comes with the ability to download (using youtube-dl)
              all of the good songs in a station.">
          </app-small-box>
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/bitrippr" 
            target="_blank" 
            header="Bitrippr" 
            text="This is completely an expirement based off of an episode of 'Bones'. This encrypts files and spreads encrypted chunks of the file to random
              locations across the hard drive. It's pretty neat, but just use bitlocker.">
          </app-small-box>
        </div>
        <div class="row">
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/quickpdf" 
            target="_blank" 
            header="QuickPDF" 
            text="This little tool I still use all the time. It's a very tiny wrapper around PDFSharp that just composes a PDF document from a set of images. Great for small invoice reports.">
          </app-small-box>
          <app-small-box 
            icon="fa-github" 
            size="6"
            iconlink="https://github.com/bresheske/gitexporter" 
            target="_blank" 
            header="Git Exporter" 
            text="A small tool that exports changed files from an old commit through a new commit. Came in very handy when I needed to do some work in an offline environment.">
          </app-small-box>
        </div>
    </div>
</div>