<div class="row">
    <div class="col-xs-12">
        <h1>current work</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">current employment</p>
        <p class="subtext">where i'm at!</p>
    </div>
    <div class="col-sm-10 border-left">
        <p>I am currently employeed as a Senior Software Engineer and Team Lead for a company who writes software for the financial sector. I work full-time remotely from my home office.</p>
        <p>My responsibilities include some management day-to-day tasks, but the majority of my work consists of writing and maintaining quite a lot of code.</p>
    </div>
</div>
