<div class="row">
    <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>current work</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">employment</p>
        <p class="subtext">where i'm at!</p>
    </div>
    <div class="col-sm-10 border-left">
        <p>I am currently employed as a Senior Software Engineer and Team Lead for a company who writes software for the financial sector. I work full-time remotely from my home office.</p>
        <p>My responsibilities include some management day-to-day tasks, but the majority of my work consists of writing and maintaining quite a lot of code.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">technologies</p>
        <p class="subtext">high-level bits!</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box index="01" header="Agile" text="using scrum, including daily standups, sprint planning, team commitments, and velocity metrics"></app-small-box>
            <app-small-box index="02" header="Angular 2/4" text="using webpack for releases, jasmine for unit tests, and protractor for end-to-end automated tests"></app-small-box>
            <app-small-box index="03" header="ECMA 5/6" text="using requirejs for a sense of object-orientation"></app-small-box>
        </div>
        <div class="row">
            <app-small-box index="04" header="C# 7.0" text="using visual studio code and visual studio 2017"></app-small-box>
            <app-small-box index="05" header="Asp.Net MVC & Web API" text="using structuremap for dependency injection and unit-testing abilities"></app-small-box>
            <app-small-box index="06" header="WCF" text="using tier-based architecture for server communication"></app-small-box>
        </div>
        <div class="row">
            <app-small-box index="07" header="WCF & Winforms" text="using front-end desktop frameworks for our thick clients"></app-small-box>
            <app-small-box index="08" header="SQL" text="using versioned stored procedures for database interaction"></app-small-box>
            <app-small-box index="09" header="GIT SCM" text="using a commercial version of bitbucket"></app-small-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">methodology</p>
        <p class="subtext">agile is stress-free, amirite?</p>
    </div>
    <div class="col-sm-10 border-left">
        <p>We use <span class="highlight">scrum!</span></p>
        <p>We have daily standups, 2-week long sprints, planning and grooming sessions, team commitments, and a strong sense of accountability.</p>
    </div>
</div>
