<div class="row">
    <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>writings</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">angular</p>
        <p class="subtext">some serious improvements on webdev</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-code-fork" 
              size="6"
              link="/writings/angular-route-animation"
              header="Angular Route Animation Made Easy" 
              text="There's a few ways to get angular routing animation working, but I found a really simple approach.">
            </app-small-box>
            <app-small-box 
                icon="fa-github" 
                size="6"
                link="/writings/angular-routing-github-pages"
                header="Angular Routing with Github Pages" 
                text="Github pages doesn't allow any URL rewriting, but there's a little trick to get around it.">
            </app-small-box>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-2">
        <p class="subcategory highlight">teams</p>
        <p class="subtext">psychology and stuff</p>
    </div>
    <div class="col-sm-10 border-left">
        <div class="row">
            <app-small-box 
              icon="fa-users" 
              size="6"
              link="/writings/agile-thoughts"
              header="Thoughts on Agile" 
              text="There are some serious ups and downs.">
            </app-small-box>
        </div>
    </div>
</div>
-->