body {
    color: #e1f5fe;
}

@media print
{    
    body {
        color: #222;
    }

    .hide-on-print, .hide-on-print *
    {
        display: none !important;
    }

    .yellow-text {
        color: #588bff !important;
    }
}

@media screen {
    .show-on-print, .show-on-print * {
        display: none !important;
    }

}