/* Imports to 3rd party styles. */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* global styles */
body {
    background-color: #333;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h1,h2,h3,h4 {
    font-weight: bold;
    color: #ccc;
}

.highlight {
    color: #e8f542;
}

a {
    color: #e8f542;
}

a:visited {
    color: #e8f542;
}

a:hover {
    color: #e8f542;
}

.subcategory {
    font-variant: small-caps;
    font-size: 20px;
}

.subtext {
    font-size: 14px;
    margin-top: -10px;
}

.border-left {
    border-left: 1px solid #555;
}

pre {
    background-color: #222;
    border-color: #444;
    color: #ccc;
}